@import '../../styles/variables';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 $container-padding;
  
  @media (max-width: $breakpoint-tablet) {
    padding: 0 $spacing-md;
  }
}
