@import '../../styles/variables';

.backToTop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: $z-back-to-top;
  width: 59px;
  height: 59px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform $transition-fast, opacity $transition-fast;
  opacity: 0;
  animation: fadeIn $transition-medium forwards;
  
  &:hover {
    transform: translateY(-5px);
  }
  
  &:active {
    transform: translateY(0);
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  @media (max-width: $breakpoint-tablet) {
    width: 45px;
    height: 45px;
    right: 1rem;
    bottom: 1rem;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
